body {
    background: #2b2020;
    color: #debcbc;
    font-family: sans-serif;
}

.logo-container {
    float: left;
    flex: auto;
}

.app-header {
    width: 100%;
}

.toolbar {
    float: left;
    width: 70%;
    padding-top: 42px;
}

.toolbar .section {
    float: left;
    min-width: 12%;
}

.toolbar .date-entry{
    margin-top: -13px;
    margin-right: 4px;
}

.data-section {
    padding: 14px 28px;
    margin-top: 12px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    clear: left;
    min-height: 80vh;
}

.btn-primary, .btn-secondary {
    border-radius: 5px;
    padding: 13px 18px;
    text-decoration: none;
}

.btn-primary {
    background: #333;
    border: 1px solid #de9962;
    color: #ddd;
    font-weight: bold;
}

.btn-secondary {
    background: #eaeaea;
    border-color: #eaeaea;
    color: #333;
}
