<!DOCTYPE html>
<html>
    <head>
        <title>Jorrvaskr - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/jorrvaskr.css">
        <script type="text/javascript" src="/static/scripts/jorrvaskr.js"></script>
    </head>
    <body onload="pc.onLoad()">
        <div class="app-header">
            <div class="logo-container">
                <img src="/static/images/base_dominican.png">
            </div>
            <div class="toolbar">
                <div class="section date-entry">
                    <div>Enter date of session</div>
                    <div>
                        <input type="date" id="jorrvaskr-session-start-date">
                    </div>
                </div>
                <div class="section">
                    <a class="btn-primary" href="/session/new">Start Session</a>
                    <a class="btn-secondary" href="/records/view">View Records</a>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html
