<!DOCTYPE html>
<html>
    <head>
        <title>Jorrvaskr - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/jorrvaskr.css">
        <script type="text/javascript" src="/static/scripts/jorrvaskr.js"></script>
    </head>
    <body>
        <img src="/static/images/base_dominican.png">
        {% block content %}{% endblock %}
    </body>
</html
