{# vim: set ts=2: #}
{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="data-section">
  {% if faction_records: %}
    <h2>Some quick stats:</h2>
  {% else: %}
    <h2>No games yet :(. Go play some!</h2>
    <div class="message warning-message">
      <div class="indicator warning-indicator">
      </div>
      <div class="message-body">
        <p>Uh-oh. If you are seeing this, your administrator probably forgot to
        load some seed data into this installation, or forgot to import your
        previous games. Either way, you should let your administrator know
        immediately.</p>

        <p>But if you know what you're doing, there is no need to be alarmed,
        really. Go play some Werewolf!</p>
      </div>
    </div>
  {% endif %}
  {% for game_type in faction_records: %}
    <h3>{{ game_type }}</h3>
    {% if faction_records[game_type]: %}
      <strong>Total played: </strong>{{ total_games_played[game_type] }}
      <table>
        <tr><th>Faction</th><th>Games Won</th></tr>
        {% for record in faction_records[game_type]: %}
          <tr><td>{{ record[0] }}</td><td>{{ record[1] }}</td></tr>
        {% endfor %}
      </table>
    {% else %}
      <h4>No games yet :(. Go play some!</h4>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
