{# vim: set ts=2: #}

{#
    `faction_wins` is a dictionary with keys "log" and "record_count". "log" is
    a list of the most recent factions who won this session, for the given game
    type. 

    "record_count" is a tally of the number of times any given faction has won
    so far _for the whole game_.
#}
{% macro render_game_stats(faction_wins, class_namespace) %}
  {% if faction_wins: %}
    <h3>Game Summary:</h3>
    <ul class="{{ class_namespace}}-game-summary">
      {% for counts in faction_wins["record_count"]: %}
        <li>{{ counts }} - Won {{ faction_wins["record_count"][counts] }} times.</li>
      {% endfor %}
    </ul>

    <h3>Recent trend:</h3>
    <ol class="{{ class_namespace }}-recent-trend">
      {% for log in faction_wins["log"]: %}
        <li>{{ log }}</li>
      {% endfor %}
    </ol>
  {% else: %}
    <p>Haven't played this in this session yet.</p>
  {% endif %}
{% endmacro %}
