{# vim: set ts=2: #}

{#
    `faction_wins` is a dictionary with keys "log" and "record_count". "log" is
    a list of the most recent factions who won this session, for the given game
    type. 

    "record_count" is a tally of the number of times any given faction has won
    so far _for the whole game_.
#}
{% macro render_game_stats(faction_wins, id_namespace) %}
  <h3>Game Summary:</h3>
  <ul id="{{ id_namespace}}-game-summary">
    {% for counts in faction_wins["record_count"]: %}
      <li>{{ counts }} - Won {{ faction_wins["record_count"][counts] }} times.</li>
    {% endfor %}
  </ul>
  {% if not faction_wins["record_count"] %}
    <p class="{{ id_namespace }}-render_game_stats_deletable">Haven't played this game in this session yet.</p>
  {% endif %}

  <h3>Recent trend:</h3>
  <ol id="{{ id_namespace }}-recent-trend">
    {% for log in faction_wins["log"]: %}
      <li>{{ log }}</li>
    {% endfor %}
  </ol>
  {% if not faction_wins["log"] %}
    <p class="{{ id_namespace }}-render_game_stats_deletable">Haven't played this game in this session yet.</p>
  {% endif %}
{% endmacro %}
