{# vim: set ts=2: #}
{% extends "base.jinja" %}
{% block title %}New Session{% endblock %}
{% block content %}
  <div class="data-section">
    <div class="session-form-section">
      <strong>Choose Game Type:</strong>
      <label>
        <input type="radio" name="game-type" value="Ultimate" checked> Ultimate
      </label>
      <label>
        <input type="radio" name="game-type" value="One Night"> One Night
      </label>
    </div>
    <div class="session-form-section">
      <div class="add-player">
        <label>
          <strong>Add Player:</strong>
          <input type="text" id="jorrvaskr-player-name" name="player-name">
        </label>
      </div>
      <div class="add-button" id="add-button" onclick="pc.addPlayer()">+</div>
    </div>
    <hr>
    <div class="session-form-section">
      <div id="jorrvaskr-start-prompt">
        <span id="ready-prompt">You need at least 5 players to start a game.</span>
        <button class="btn btn-primary" onclick="pc.startGame()" id="start-game" disabled>START!</button>
      </div>
      <div id="jorrvaskr-stop-prompt" style="display: none">
        Too much blood? <button class="btn btn-bloody" onclick="pc.stopGame()">STOP!</button>
      </div>
      <h3>Players</h3>
      <p>Tick the players who will be joining this game.</p>
      <div id="player-listing">
        No players yet.
      </div>
    </div>
  </div>
{% endblock %}
