{# vim: set ts=2: #}
{% extends "base.jinja" %}
{% block title %}New Session{% endblock %}
{% block content %}
  <div class="data-section">
    <div class="session-form-section">
      <strong>Choose Game Type:</strong>
      <label>
        <input type="radio" name="game-type" value="Ultimate" checked> Ultimate
      </label>
      <label>
        <input type="radio" name="game-type" value="One Night"> One Night
      </label>
    </div>
    <div class="session-form-section">
      <div class="add-player">
        <label>
          <strong>Add Player:</strong>
          <input type="text" id="jorrvaskr-player-name" name="player-name" onkeyup="pc.playerEnterWatcher(event)">
        </label>
      </div>
      <div class="add-button" onclick="pc.addPlayer()">+</div>
    </div>
    <hr>
    <div class="session-form-section">
      <div id="jorrvaskr-start-prompt">
        Are you ready? <button class="btn btn-primary" onclick="pc.startGame()">START!</button>
      </div>
      <div id="jorrvaskr-stop-prompt" style="display: none">
        Too much blood? <button class="btn btn-bloody" onclick="pc.stopGame()">STOP!</button>
      </div>
      <div id="jorrvaskr-endgame-prompt" style="display: none">
        Choosing winners... <button class="btn btn-primary" onclick="pc.playAgain()">One more games!</button>
      </div>
      <div id="player-list-screen">
        <h3>Players</h3>
        <p>Choose which players are participating in this game.</p>
        <div id="player-listing">
        </div>
      </div>
      <div id="in-game-screen" style="display: none">
        <h3>Choose which players won...</h3>
        <div id="in-game-listing">
        </div>
        <h3>...from faction</h3>
        <div id="faction-listing">
          {% for faction in factions %}
            <div>
              <label>
                <input type="radio" name="won-faction" value="{{ faction.id }}">
                {{ faction.name }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
