{# vim: set ts=2: #}
{% extends "base.jinja" %}
{% block title %}Records for {{ player_name }}{% endblock %}
{% block content %}
<div class="data-section">
  <!--h1>{{ player_name | possessive_form }} record</h1-->
</div>
{% endblock %}
